[secret]

TOKEN = flsajfdkajslfjdsalfjddklajfklas.dagoeiwujdkljfalkjsl

[user]

OWNER_ID = 124328432840293840
ADMINS_ID = [124328432840293840, 124328432840293840]
SERVER_ID = 124328432840293840
LOBBY_CHANNEL_ID = 124328432840293840
SPEC_CHANNEL_ID = 124328432840293840
LOGGING_CHANNEL_ID = 124328432840293840
ALIVE_ROLE_ID = 124328432840293840
DEAD_ROLE_ID = 124328432840293840
ADMINS_ROLE_ID = 124328432840293840

# Channels/categories to lock during game
LOCK_CHANNELS_ID = []
# Use this if the channel you want to lock is gated behind a special role
LOCK_CHANNELS_SPECIAL_ID = []

[settings]

PREFIX = !

[misc]

MAX_MESSAGE_LEN = 2000
PLAYTESTERS = []
TOP_LIMIT = 15
TOP_WINRATE_MIN_GAMES = 15
# Do not enable this for real games. Only enable it if you are testing and don't want people to be pinged.
DISABLE_PINGS = False
