[colors]

CARD_NORMAL = 0xffffff
CARD_NIGHT = 0x226b6c
CARD_DAWN = 0xa88497
CARD_DAY = 0xd6bb50
IN_GAME_NORMAL = 0xff8647
TOWNSFOLK_COLOR = 0x0776f2
OUTSIDER_COLOR = 0x0776f2
MINION_COLOR = 0xe10600
DEMON_COLOR = 0xe10600
CARD_LYNCH = 0x669d34
CARD_NO_LYNCH = 0xb51a00

[botc]

BASE_NIGHT = 10
NIGHT_MULTIPLER = 1
BASE_DAWN = 15
DAWN_MULTIPLIER = 0
VOTE_TIMEOUT = 8
DELETE_VOTE_AFTER = 45
DEBATE_TIME = 5
INCREMENT = 1
WHISPER_COOLDOWN = 40
TOWNSQUARE_COOLDOWN = 60
GRIMOIRE_SHOW_TIME = 40
WHISPER_SHOW_TIME = 30

[duration]

LOBBY_TIMEOUT = 1200
TOKENS_GIVEN = 5
TOKEN_RESET = 10
IGNORE_THRESHOLD = 7
STATUS_CYCLE = 20

[location]

TIME_ZONE = Canada/Eastern
